.form-container {
  width: fit-content;
  margin: auto;
  margin-top: 30px;
  padding: 20px 60px;
  border-radius: 10px;
  box-shadow: #0e1e251f 0px 2px 4px 0px, #0e1e2552 0px 2px 16px 0px;
}

.form-action-container {
    margin-top: 10px;
}

.form-action-container p {
    margin: 0;
}

.swap-link {
    margin-left: 5px;
}
