.settings-container {
  display: grid;
  grid-template-columns: 300px auto;
  padding: 0 10px;
}

.sidebar {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  height: calc(100vh - 80px);
  top: 80px;
  position: sticky;
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-avatar {
  width: 60px;
  border-radius: 50%;
}

.profile-name {
  font-size: 2rem;
}

.profile-joined {
  color: #555;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
}

.sidebar-link {
  position: relative;
  font-size: 1.2rem;
  margin: 0;
  padding: 10px 10px 10px 40px;
  color: #007cc4;
  border: 1px solid #555;
  border-right: 0;
  border-left: 0;
  cursor: pointer;
}

.sidebar-link:first-child {
  border-bottom: 0;
}
.sidebar-link::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: transparent;
  content: "";
}

.sidebar-link.active::before {
  background-color: #007cc4;
}

/* Edit profile */

.change-password-checkbox {
    margin-bottom: 5px;
}

.change-password {
    color: #007cc4;
    cursor: pointer;
}

/* Orders table */

.table {
    margin: 30px 0 0 30px;
    width: inherit;
    height: fit-content;
    vertical-align: middle;
}