.admin-header {
    font-size: 2.5rem;
}

.admin-header-2 {
    font-size: 1.5rem;
}

.admin-home-links {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.books-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    margin-top: 20px;
}