.navbar {
  color: #fff;
  height: 80px;
  top: 0;
  position: sticky;
  padding: 0 40px;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-link {
    margin: 0 0 0 25px;
}

.nav-avatar {
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
